footer.wrapper
    .foo.wrap--large
        .foo__child
            img(src=`${pathImg}amsofipo-logo-footer.svg`, alt="AMSOFIPO - Asociación Mexicana de Sociedades Financieras Populares")
            img(src=`${pathImg}snef-logo-footer.svg`, alt="SNEF - Semana Nacional de Educación Financiera")
        .foo__child
            h3.body.regular Marco legal
            h3.body.regular Aviso de privacidad
        .foo__child
            .foo__contacto
                h4.small.sbold.mb--sm Visítanos
                p.body.elight Av. Insurgentes Sur #2047<br>Esq. Cracovia, Edificio “B”<br>Col. San Ángel<br>C. P. 01000<br>Alcaldía Álvaro Obregón<br>Ciudad de México, CDMX
        .foo__child
            .foo__contacto.mb--lg
                h4.small.sbold.mb--sm Escríbenos
                a(href="mailto:contacto@amsofipo.mx", rel="noopener", class="body elight text-alt") contacto@amsofipo.mx
            .foo__contacto
                h4.small.sbold.mb--sm Llamanos
                a(href="tel:5550014851", rel="noopener", class="body elight text-alt") 55 5001 4851
        .foo__child
            .foo__contacto
                h4.small.sbold.mb--sm Sitios De Interés
                ul.sitios-interes
                    li.sitios-interes__item: a(href="http://www.shcp.gob.mx/", target="_blank", rel="noopener noreferrer nofollow", class="body elight text-alt") SHCP
                    li.sitios-interes__item: a(href="https://www.cnbv.gob.mx/", target="_blank", rel="noopener noreferrer nofollow", class="body elight text-alt") CNBV
                    li.sitios-interes__item: a(href="https://www.condusef.gob.mx/", target="_blank", rel="noopener noreferrer nofollow", class="body elight text-alt") CONDUSEF
                    li.sitios-interes__item: a(href="https://www.banxico.org.mx/", target="_blank", rel="noopener noreferrer nofollow", class="body elight text-alt") BANXICO
                    li.sitios-interes__item: a(href="https://www.fira.gob.mx/", target="_blank", rel="noopener noreferrer nofollow", class="body elight text-alt") FIRA
        .foo__child
            .foo__contacto
                ul.sociales
                    li.sociales__item: a(href="https://mx.linkedin.com/company/amsofipo", target="_blank", rel="noopener"): img(src=`${pathImg}amsofipo-linkedin.svg`, alt="AMSOFIPO - Linkedin")
                    li.sociales__item: a(href="https://twitter.com/amsofipo", target="_blank", rel="noopener"): img(src=`${pathImg}amsofipo-twitter.svg`, alt="AMSOFIPO - twitter")
                    li.sociales__item: a(href="https://www.facebook.com/Amsofipo/", target="_blank", rel="noopener"): img(src=`${pathImg}amsofipo-facebook.svg`, alt="AMSOFIPO - Facebook")